---
layout: default
---

<div>
  <div class="headercontent">
    <div class="section-container">
      <div class="row">
        <div class="col-sm-2 visible-sm"></div>
        <div class="clearfix visible-sm visible-xs"></div>
        <div class="col-sm-7">
          <h3 class="title">Ragav Venkatesan</h3>

          <p>Principal Engineer at Nvidia AI working on generative AI models for Nvidia Maxine and Nvidia
            Broadcast and other computer vision products at Nvidia.
            Previously, an Applied Scientist at Amazon Alexa AI, AWS AI Labs, Research Scientist at AWS Sagemaker and
            Researcher Intern at Intel.
            Received Doctorate in Computer Science and Masters in Electrical Engineering from Arizona State University.
          </p>
          <p>
            Founder of <a target="_blank" href="{{site.url}}/thaalam.html">Thaalam Studios</a>,
            Founder, guitar player, producer and lead singer for <a target="_blank" href="https://chirality.band">Chirality (the Ragav project)</a>,
            Bass player for <a target="_blank" href="https://sugarbonesband.com">Sugar Bones</a>,
            Bass player and producer for <a target="_blank" href="https://sludgefactory.band">Sludge Factory</a>
            and <a target="_blank" href="{{site.url}}/le-kaapi-projekt.html">L&egrave; Kaapi Projekt</a>.
          </p></br>
          </a>
          <table>
            <tr>
              <td>
                <a target="_blank" href="https://linkedin.ragav.net"><i class="ion icon-linkedin"></i></a> &nbsp;
                &nbsp; &nbsp;
              </td>
              <td>
              </td>
              <td>
                <a target="_blank" href="https://open.spotify.com/artist/3ssz6wQFAbbyt5ivcaFuId"><i
                    class="icon fab fa-spotify"></i></a> &nbsp; &nbsp; &nbsp;
              </td>
              <td>
                <a target="_blank" href="https://citations.ragav.net"><i class="ai ai-google-scholar"></i></a>
                &nbsp; &nbsp; &nbsp;
              </td>
              <td>
                <a target="_blank" href="https://www.amazon.com/Ragav-Venkatesan/e/B071WD3Y41"><i
                    class="icon fab fa-amazon"></i></a> &nbsp; &nbsp; &nbsp;
              </td>
              <td>
                <a target="_blank" href="https://code.ragav.net"><i class="icon icon-github"></i></a> &nbsp; &nbsp;
                &nbsp;
              </td>
              <td>
                <a target="_blank" href="https://music.ragav.net"><i class="icon icon-music"></i></a> &nbsp; &nbsp;
                &nbsp;
              </td>
              <td>
                <a target="_blank" href="https://www.flickr.com/photos/138136271@N07/"><i
                    class="icon icon-flickr"></i></a> &nbsp; &nbsp; &nbsp;
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-5 col-md-4">
          <div class="biothumb">
            <align=center>
              <br /><br />
              <table>
                <tr>
                  <td>
                    <a href="https://item.jd.com/42204092340.html">
                      <img src="{{site.url}}/img/book-cover-cn.jpg" height="200em"></a>
                  </td>
                  <td>
                    <a href="https://www.amazon.com/gp/product/1138747955">
                      <img
                        src="https://images-na.ssl-images-amazon.com/images/I/51wfbAsv1SL._SX348_BO1,204,203,200_.jpg"
                        height="200em"></a>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <br>
                    <a target="_blank" href="{{ site.url }}/docs/CV_RV.pdf">
                      <div class="icon-cloud-download"></div> Curriculum Vitae
                    </a>
                    <!--<br>
                    <a target = "_blank" href="{{ site.url }}/docs/RS_RV.pdf"> 	<div class="icon-cloud-download"></div> Research Statement </a>-->
                  </td>
                </tr>
              </table>
              </align>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>
<br>

<div class="pagecontents">
  <div class="color-1">
    <div class="section-container">
      <div class="row">
        <div class="section-container">
          <h2 class="title">Professional News & Updates</h2> <br />
          <div class="clearfix visible-sm visible-xs" style="overflow:auto;"></div>
          <ul class="ul-dates" style=" height: 15em; overflow: auto">
            {% include news.html %}
          </ul>
          <br /><br />

          <h2 class="title">Creative News & Updates</h2> <br />
          <div class="clearfix visible-sm visible-xs" style="overflow:auto;"></div>
          <ul class="ul-dates" style=" height: 15em; overflow: auto">
            {% include creative_news.html %}
          </ul>
          <br /><br />
        </div>
      </div>
    </div>
  </div>