---
layout: default
---



<div id="teaching" class="page">

    <div class="pageheader">
        <div class="headercontent">
            <div class="section-container">
                <h2 class="title">Teaching</h2> <img alt="image" src="img/teaching.png" align="right"  width="150em" height="auto" class="img-responsive"> 
                <div class="row">
                    <div class="col-md-12">
                        <p><em><br>It is the supreme art of the teacher to awaken joy in creative expression and knowledge. - Albert Einstein</em></p>                                                   
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pagecontents">
        <div class="section-container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <ul class="ul-dates" style=" height: 20em; overflow: auto;">
                    
                    {% include aws_instructor.html %}   
                    {% include asu_instructor.html %}   

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
