<li class="open">
    <div class="date">Nov, 2022</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">Reinforcement learning for training compression policies for machine learning models
            .</div>
        <div class="text row">
        <div class="col-md-10">                
        <p> I have a <a target="_blank" href="https://patents.google.com/patent/US11501173B1">patent</a> issued on neural network compression.
        </p>       
        </div>
        </div></div>
</li>

<li class="open">
    <div class="date">Oct, 2020</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">Evaluating the effectiveness of ENAS for sentence-pair tasks.</div>
        <div class="text row">
        <div class="col-md-10">                
        <p> I have a paper 
            accepted to the <a href="https://www.aclweb.org/anthology/2020.insights-1.4/">
            Workshop on Insights from Negative Results in NLP at the Conference on Empirical Methods in Natural Language Processing (EMNLP), 2020.
            </a>
        </p>       
        </div>
        </div></div>
</li>

<li class="open">
    <div class="date">April, 2020</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">Out-of-the-box channel pruned networks.</div>
        <div class="text row">
        <div class="col-md-10">                
        <p> I published an <a href="https://arxiv.org/abs/2004.14584">arXiv Pre-print</a> titled "Out-of-the-box channel pruned networks".
        </p>       
        </div>
        </div></div>
</li>

<li class="open">
    <div class="date">March, 2020</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">Domain mapping for privacy preservation.</div>
        <div class="text row">
        <div class="col-md-10">                
        <p> I have a <a target="_blank" href="https://patents.google.com/patent/US10567334B1">patent</a> issued on privacy preserving ML.
        </p>       
        </div>
        </div></div>
</li>

<li class="open">
    <div class="date">July, 2019</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">d-SNE: Domain Adaptation using Stochastic Neighborhood Embedding.</div>
        <div class="text row">
        <div class="col-md-10">                
        <p> I published an <a target="_blank" href="https://openaccess.thecvf.com/content_CVPR_2019/papers/Xu_d-SNE_Domain_Adaptation_Using_Stochastic_Neighborhood_Embedding_CVPR_2019_paper">oral paper</a> at CVPR 2019.
            <a href="https://github.com/aws-samples/d-SNE">Code</a> is  available here. 
        </p>       
        </div>
        </div></div>
</li>

<li class="open">
        <div class="date">Nov, 2018</div>
        <div class="circle"></div>
        <div class="data">
            <div class="subject">Amazon SageMaker Reinforcement Learning.</div>
            <div class="text row">
            <div class="col-md-10">                
            <p>
                    I helped launch the <a href="https://aws.amazon.com/blogs/aws/amazon-sagemaker-rl-managed-reinforcement-learning-with-amazon-sagemaker/">Amazon SageMaker RL</a> project for re:Invent 2018. One of the pieces that 
                    I was involved with was <a target="_blank" href="https://github.com/awslabs/amazon-sagemaker-examples/tree/master/reinforcement_learning/rl_network_compression_ray_custom">Neural Network Compression using Reinforcement Learning</a>
                    in collaboration with GE Healthcare.
            </p>	
            </div>
            </div>
            </div>
</li>

<li class="open">
        <div class="date">Nov, 2018</div>
        <div class="circle"></div>
        <div class="data">
            <div class="subject">Amazon SageMaker Semantic Segmentation.</div>
            <div class="text row">
            <div class="col-md-10">                
            <p> I developed and launched the <a target="_blank" href="https://aws.amazon.com/blogs/machine-learning/semantic-segmentation-algorithm-is-now-available-in-amazon-sagemaker/">Amazon SageMaker Semantic Segmentation</a> algorithms.                
            </p>       
            </div>
            </div></div>
</li>

<li class="open">
        <div class="date">Aug, 2018</div>
        <div class="circle"></div>
        <div class="data">
            <div class="subject">Bring your own pre-trained MXNet or TensorFlow models into Amazon SageMaker.</div>
            <div class="text row">
            <div class="col-md-10">                
            <p> I published a blog demonstrating <a target="_blank" href="https://aws.amazon.com/blogs/machine-learning/bring-your-own-pre-trained-mxnet-or-tensorflow-models-into-amazon-sagemaker/">BYO Tensorflow or MXNet Models into SageMaker</a></p>       
            </div></div>
            </div>
</li>

<li class="open">
        <div class="date">July, 2018</div>
        <div class="circle"></div>
        <div class="data">
            <div class="subject">Amazon SageMaker Object Detection.</div>
            <div class="text row">
            <div class="col-md-10">                
            <p> I participated in the launch of the <a target="_blank" href ="https://aws.amazon.com/blogs/machine-learning/object-detection-algorithm-now-available-in-amazon-sagemaker/">Amazon SageMaker Object Detection</a> algorithms.
            </p>       
            </div></div>
            </div>
</li>

<li class="open">
        <div class="date">2018</div>
        <div class="circle"></div>
        <div class="data">
            <div class="subject">Amazon SageMaker.</div>
            <div class="text row">
            <div class="col-md-10">                
            <p>
                In my duties with the Aamazon SageMaker team, I often contribute to <a href="https://github.com/aws">@aws</a>, <a href="https://github.com/dmlc">@dmlc</a> and <a href="https://github.com/awslabs">@awslabs</a> 
                open-source repositories.
                Apart from simple issues, I have written several <a href="https://github.com/awslabs/amazon-sagemaker-examples">Sagemaker Example</a> 
                notebooks and 
                have contributed to the <a href="https://github.com/aws/sagemaker-python-sdk">Sagemaker python SDK</a>.
            </p>       
            </div></div>
            </div>
</li>
