<li class="open">
    <div class="date">Spring 2017</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">CSE 591: Introduction to Deep Learning for Visual Computing.</div>
        <div class="text row">
            <div class="col-md-2"><img alt="image" src="img/asu.png" width="60em" height="auto" align="right"
                    class="img-responsive"></div>
            <div class="col-md-10"><span class="label label-primary">Instructor</span>
                &nbsp;&nbsp;Co-Instructor: Dr. <a target="_blank" href="https://www.public.asu.edu/~bli24/">Baoxin
                    Li</a></div>
        </div>
    </div>
</li>

<li class="open">
    <div class="date">Fall 2016</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">CSE 569: Fundamentals of Statistical Learning.</div>
        <div class="text row">
            <div class="col-md-2"><img alt="image" src="img/asu.png" width="60em" height="auto" align="right"
                    class="img-responsive"></div>
            <div class="col-md-10"><span class="label label-success">Teaching Assistant</span>
                &nbsp;&nbsp;Instructor: Dr. <a target="_blank" href="https://www.public.asu.edu/~bli24/">Baoxin Li</a>
            </div>
        </div>
    </div>
</li>

<li class="open">
    <div class="date">Fall 2015</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">CSE 509: Digital Video Processing.</div>
        <div class="text row">
            <div class="col-md-2"><img alt="image" src="img/asu.png" width="60em" height="auto" align="right"
                    class="img-responsive"></div>
            <div class="col-md-10"><span class="label label-primary">Instructor</span>
                &nbsp;&nbsp;Co-Instructor: Dr. <a target="_blank" href="https://www.public.asu.edu/~bli24/">Baoxin
                    Li</a></div>
        </div>
    </div>
</li>

<li class="open">
    <div class="date">Spring 2015</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">CSE 575: Statistical Machine Learning.</div>
        <div class="text row">
            <div class="col-md-2"><img alt="image" src="img/asu.png" width="60em" height="auto" align="right"
                    class="img-responsive"></div>
            <div class="col-md-10"><span class="label label-success">Teaching Assistant</span>
                &nbsp;&nbsp;Instructor: Dr. <a target="_blank"
                    href="https://faculty.engineering.asu.edu/jingruihe/">Jingrui He</a></div>
        </div>
    </div>
</li>

<li class="open">
    <div class="date">Fall 2014</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">CSE 569: Fundamentals of Statistical Learning.</div>
        <div class="text row">
            <div class="col-md-2"><img alt="image" src="img/asu.png" width="60em" height="auto" align="right"
                    class="img-responsive"></div>
            <div class="col-md-10"><span class="label label-success">Teaching Assistant</span>
                &nbsp;&nbsp;Instructor: Dr. <a target="_blank" href="https://www.public.asu.edu/~bli24/">Baoxin Li</a>
            </div>
        </div>
    </div>
</li>


<li class="open">
    <div class="date">Fall 2013</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">CSE 509: Digital Video Processing.</div>
        <div class="text row">
            <div class="col-md-2"><img alt="image" src="img/asu.png" width="60em" height="auto" align="right"
                    class="img-responsive"></div>
            <div class="col-md-10"><span class="label label-success">Teaching Assistant</span>
                &nbsp;&nbsp;Instructor: Dr. <a target="_blank" href="https://sundaram.cs.illinois.edu/index.html">Hari
                    Sundaram</a></div>
        </div>
    </div>
</li>

<li class="open">
    <div class="date">Spring 2013</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">CSE 424, 485, 486: Capstone Projects.</div>
        <div class="text row">
            <div class="col-md-2"><img alt="image" src="img/asu.png" width="60em" height="auto" align="right"
                    class="img-responsive"></div>
            <div class="col-md-10"><span class="label label-success">Teaching Assistant</span>
                &nbsp;&nbsp;Instructor: Dr. Debra Callis</div>
        </div>
    </div>
</li>

<li class="open">
    <div class="date">Fall 2012</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">CSE 509: Digital Video Processing.</div>
        <div class="text row">
            <div class="col-md-2"><img alt="image" src="img/asu.png" width="60em" height="auto" align="right"
                    class="img-responsive"></div>
            <div class="col-md-10"><span class="label label-success">Teaching Assistant</span>
                &nbsp;&nbsp;Instructor: Dr. David Claveau</div>
        </div>
    </div>
</li>