<li class="open">
        <div class="date">Sess 3, 2019</div>
        <div class="circle"></div>
        <div class="data">
            <div class="subject">Amazon MLU CONV: Convolutional Neural Networks.</div>
            <div class="text row">
            <div class="col-md-2"><img alt="image" src="img/mlu.png" width="60em" height="auto" align="right" class="img-responsive"></div>
            <div class="col-md-10"><span class="label label-primary">Instructor</span></div>
            </div>
        </div>
</li>

<li class="open">
        <div class="date">Sess 5, 2018</div>
        <div class="circle"></div>
        <div class="data">
            <div class="subject">Amazon MLU CONV: Convolutional Neural Networks.</div>
            <div class="text row">
            <div class="col-md-2"><img alt="image" src="img/mlu.png" width="60em" height="auto" align="right" class="img-responsive"></div>
            <div class="col-md-10"><span class="label label-primary">Instructor</span>
            &nbsp;&nbsp;Co-Instructor: Dr. John Dunavent </div>                                 
            </div>
        </div>
</li>

<li class="open">
        <div class="date">Sess 2, 2018</div>
        <div class="circle"></div>
        <div class="data">
            <div class="subject">Amazon MLU CONV: Convolutional Neural Networks.</div>
            <div class="text row">
            <div class="col-md-2"><img alt="image" src="img/mlu.png" width="60em" height="auto" align="right" class="img-responsive"></div>
            <div class="col-md-10"><span class="label label-success">Teaching Assistant</span>
            &nbsp;&nbsp;Instructor: Dr. John Dunavent </div>                                           
            </div>
        </div>
</li>
