<li>
    <div class="dates">
        <span>Sess 3</span>
        <span>2019</span>
    </div>
    <div class="content">
        <h4>Amazon MLU CONV: Convolutional Neural Networks.</h4>
        <p><b>Instructor</b></p>
    </div>
</li>

<li>
    <div class="dates">
        <span>Sess 5</span>
        <span>2018</span>
    </div>
    <div class="content">
        <h4>Amazon MLU CONV: Convolutional Neural Networks.</h4>
		<p><b>Instructor</b> Co-Instructor: Dr. John Dunavent</p>                                                    
    </div>
</li>

<li>
    <div class="dates">
        <span>Sess 2</span>
        <span>2018</span>
    </div>
    <div class="content">
        <h4>Amazon MLU CONV: Convolutional Neural Networks</h4>
        <p><b>Teaching Assistant</b> Instructor: Dr. John Dunavent</p>                                                    
    </div>
</li>  


