<li>
	<div class="dates">
		<span>Sep 20</span>
		<span>2024</span>
	</div>
	<div class="content">Variety Pack is playing at the Jewelbox Theater at Seattle, WA, USA.</div>
</li>

<li>
	<div class="dates">
		<span>Sep 12</span>
		<span>2024</span>
	</div>
	<div class="content">My single "Keg of Glory" is releasing in all major music streaming platforms.
		<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6SpiDvhCztvrigUVUs1Ybc?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
	</div>
</li>


<li>
	<div class="dates">
		<span>Sep 12</span>
		<span>2024</span>
	</div>
	<div class="content">My solo project "Ragav" is playing at the Bluemoon at Seattle, WA, USA.</div>
</li>

<li>
	<div class="dates">
		<span>July 30</span>
		<span>2024</span>
	</div>
	<div class="content">My solo project "Ragav" is playing at High Dive at Seattle, WA, USA. <a target="_blank"
		href="https://tixr.com/e/106568">here</a></div>
</li>

<li>
	<div class="dates">
		<span>July 26</span>
		<span>2024</span>
	</div>
	<div class="content">My single "Homefree" is releasing in all major music streaming platforms.
		<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/0YLaVgsPvOSW5CdLVVUHMV?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
	</div>
</li>

<li>
	<div class="dates">
		<span>Jun 21</span>
		<span>2024</span>
	</div>
	<div class="content">Variety Pack is playing at Long Park RA at Longview, WA, USA.</div>
</li>

<li>
	<div class="dates">
		<span>May 4</span>
		<span>2024</span>
	</div>
	<div class="content">Variety Pack is playing a free acoustic show at Middleton Brewery, Everett, WA, USA.</div>
</li>


<li>
	<div class="dates">
		<span>Mar 9</span>
		<span>2024</span>
	</div>
	<div class="content">Variety Pack is playing at Stage 722. Portland. OR, USA. Tickets available <a target="_blank"
			href="https://www.mmstage722.com/events-2-1/variety-pack-band">here</a></div>
</li>

<li>
	<div class="dates">
		<span>Mar 6</span>
		<span>2024</span>
	</div>
	<div class="content">Variety Pack is playing at High Dive. Seattle. WA, USA. Tickets available <a target="_blank"
			href="https://www.tixr.com/groups/highdive/events/marble-hornets-w-variety-pack-psionic-haze-92356">here</a>
	</div>
</li>

<li>
	<div class="dates">
		<span>Aug 12</span>
		<span>2023</span>
	</div>
	<div class="content">Variety Pack is playing at El Corazon. Seattle. WA, USA. </div>
</li>

<li>
	<div class="dates">
		<span>Jul 31</span>
		<span>2023</span>
	</div>
	<div class="content">Due to ethical and integrity concerns, I will no longer be part of Ember Mist.</div>
</li>

<li>
	<div class="dates">
		<span>July</span>
		<span>2023</span>
	</div>
	<div class="content">My new song Shambo is now released on <a target="_blank"
			href="https://open.spotify.com/track/1X7iNMcJzXD5INAk7PLr0P?si=16c2242e22354a31">Spotify</a>. </div>
</li>

<li>
	<div class="dates">
		<span>July 12</span>
		<span>2023</span>
	</div>
	<div class="content">Ember Mist is playing at the Rendezvous Jewelbox Theater, Seattle, WA, USA.
		Tickets available <a target="_blank"
			href="https://therendezvous.strangertickets.com/events/140637724/ember-mist-with-ar-band-and-ives">here</a>.
	</div>
</li>

<li>
	<div class="dates">
		<span>July 15</span>
		<span>2023</span>
	</div>
	<div class="content">Variety Pack is playing at Retro Junkie, San Francisco, CA, USA.
		Tickets available <a target="_blank"
			href="https://www.eventbrite.com/e/90s-the-garden-ii-tribute-festival-tickets-595064001447?fbclid=IwAR1T3nK-U_Ri6u-Zr0efWaOENeMpo_ZK9u3vl9kays7FT6HP_WL0eynYKJw">here</a>.
	</div>
</li>

<li>
	<div class="dates">
		<span>July 14</span>
		<span>2023</span>
	</div>
	<div class="content">Variety Pack is playing at the Chapel, San Francisco, CA, USA.
		Tickets available <a target="_blank"
			href="https://www.seetickets.us/event/Corduroy-ThePearlJamExperience/528144?fbclid=IwAR11C6N7k7WUgjfMjvb9Zy-b_DzqUkYkYeQoVn9JEfazKX-VaSIGC-npkKM">here</a>.
	</div>
</li>

<li>
	<div class="dates">
		<span>Jun</span>
		<span>2023</span>
	</div>
	<div class="content">Ember Mist's new demo Again is now released on <a target="_blank"
			href="https://soundcloud.com/ember-mist/again">Sound Cloud</a>. </div>
</li>

<li>
	<div class="dates">
		<span>Jun</span>
		<span>2023</span>
	</div>
	<div class="content">Ember Mist's new demo Golden Era is now released on <a target="_blank"
			href="https://soundcloud.com/ember-mist/golden-era">Sound Cloud</a>. </div>
</li>

<li>
	<div class="dates">
		<span>Jun 02</span>
		<span>2023</span>
	</div>
	<div class="content">Ember Mist is playing at Lucid Dream Music Festival, Seattle, WA, USA.
		Tickets available <a target="_blank"
			href="https://www.eventbrite.com/e/lucid-dream-music-festival-tickets-613415671787">here</a>.</div>
</li>

<li>
	<div class="dates">
		<span>May</span>
		<span>2023</span>
	</div>
	<div class="content">Ember Mist's new demo Don't you dare is now released on <a target="_blank"
			href="https://soundcloud.com/ember-mist/dont-you-dare">Sound Cloud</a>. </div>
</li>

<li>
	<div class="dates">
		<span>Mar 18</span>
		<span>2023</span>
	</div>
	<div class="content">Variety Pack is playing at Vessel Taphouse, Lynwood, WA, USA.
		Tickets available <a target="_blank" href="https://www.facebook.com/events/936818484142437">here</a>.</div>
</li>


<li>
	<div class="dates">
		<span>Jan 14</span>
		<span>2023</span>
	</div>
	<div class="content">Variety Pack is playing at El Corazon. Seattle. WA, USA. Tickets available <a target="_blank"
			href="https://wl.seetickets.us/event/Corduroy-ThePearlJamExperience/491357?afflky=ElCorazon&fbclid=IwAR30k6e7ySbY8Vm8Y1XlpGzcQAl36Zr2eB6t8I6G4rltfiAx0qcG6GY88G0">here</a>.
	</div>
</li>


<li>
	<div class="dates">
		<span>Aug 19</span>
		<span>2022</span>
	</div>
	<div class="content">Variety Pack is playing at Vessel Taphouse, Lynwood, WA, USA.
		Tickets available <a target="_blank" href="https://www.facebook.com/events/657775402648342">here</a>.</div>
</li>