<li>
	<div class="dates">
		<span>Oct 06</span>
		<span>2023</span>
	</div>
	<div class="content">Ember Mist is playing at Jules Maes Saloon, Seattle, WA, USA.</div>
</li>

<li>
	<div class="dates">
		<span>Sep 17</span>
		<span>2023</span>
	</div>
	<div class="content">Ember Mist is playing at the Tractor Tavern, Seattle, WA, USA.</div>
</li>

<li>
	<div class="dates">
		<span>Aug 24</span>
		<span>2023</span>
	</div>
	<div class="content">Variety Pack and Ember Mist are both playing at the Sunset Tavern. Seattle. WA, USA. Tickets available <a target="_blank" href="https://www.ticketweb.com/event/ember-mist-variety-pack-altigi-sunset-tavern-tickets/13353008?pl=sunset&REFID=clientsitewp">here</a>.</div>
</li>

<li>
	<div class="dates">
		<span>Aug 13</span>
		<span>2023</span>
	</div>
	<div class="content">Ember Mist is playing at the High Dive, Seattle, WA, USA.</div>
</li>

<li>
	<div class="dates">
		<span>Aug 12</span>
		<span>2023</span>
	</div>
	<div class="content">Variety Pack is playing at El Corazon. Seattle. WA, USA. </div>
</li>

<li>
	<div class="dates">
		<span>July</span>
		<span>2023</span>
	</div>
	<div class="content">My new song Shambo is now released on <a target="_blank" href="https://open.spotify.com/track/1X7iNMcJzXD5INAk7PLr0P?si=16c2242e22354a31">Spotify</a>. </div>
</li>

<li>
	<div class="dates">
		<span>July 12</span>
		<span>2023</span>
	</div>
	<div class="content">Ember Mist is playing at the Rendezvous Jewelbox Theater, Seattle, WA, USA. 
        Tickets available <a target="_blank" href="https://therendezvous.strangertickets.com/events/140637724/ember-mist-with-ar-band-and-ives">here</a>.</div>
</li>

<li>
	<div class="dates">
		<span>July 15</span>
		<span>2023</span>
	</div>
	<div class="content">Variety Pack is playing at Retro Junkie, San Francisco, CA, USA. 
        Tickets available <a target="_blank" href="https://www.eventbrite.com/e/90s-the-garden-ii-tribute-festival-tickets-595064001447?fbclid=IwAR1T3nK-U_Ri6u-Zr0efWaOENeMpo_ZK9u3vl9kays7FT6HP_WL0eynYKJw">here</a>.</div>
</li>

<li>
	<div class="dates">
		<span>July 14</span>
		<span>2023</span>
	</div>
	<div class="content">Variety Pack is playing at the Chapel, San Francisco, CA, USA. 
        Tickets available <a target="_blank" href="https://www.seetickets.us/event/Corduroy-ThePearlJamExperience/528144?fbclid=IwAR11C6N7k7WUgjfMjvb9Zy-b_DzqUkYkYeQoVn9JEfazKX-VaSIGC-npkKM">here</a>.</div>
</li>

<li>
	<div class="dates">
		<span>Jun</span>
		<span>2023</span>
	</div>
	<div class="content">Ember Mist's new demo Again is now released on <a target="_blank" href="https://soundcloud.com/ember-mist/again">Sound Cloud</a>. </div>
</li>

<li>
	<div class="dates">
		<span>Jun</span>
		<span>2023</span>
	</div>
	<div class="content">Ember Mist's new demo Golden Era is now released on <a target="_blank" href="https://soundcloud.com/ember-mist/golden-era">Sound Cloud</a>. </div>
</li>

<li>
	<div class="dates">
		<span>Jun 02</span>
		<span>2023</span>
	</div>
	<div class="content">Ember Mist is playing at Lucid Dream Music Festival, Seattle, WA, USA. 
        Tickets available <a target="_blank" href="https://www.eventbrite.com/e/lucid-dream-music-festival-tickets-613415671787">here</a>.</div>
</li>

<li>
	<div class="dates">
		<span>May</span>
		<span>2023</span>
	</div>
	<div class="content">Ember Mist's new demo Don't you dare is now released on <a target="_blank" href="https://soundcloud.com/ember-mist/dont-you-dare">Sound Cloud</a>. </div>
</li>

<li>
	<div class="dates">
		<span>Mar 18</span>
		<span>2023</span>
	</div>
	<div class="content">Variety Pack is playing at Vessel Taphouse, Lynwood, WA, USA. 
        Tickets available <a target="_blank" href="https://www.facebook.com/events/936818484142437">here</a>.</div>
</li>


<li>
	<div class="dates">
		<span>Jan 14</span>
		<span>2023</span>
	</div>
	<div class="content">Variety Pack is playing at El Corazon. Seattle. WA, USA. Tickets available <a target="_blank" href="https://wl.seetickets.us/event/Corduroy-ThePearlJamExperience/491357?afflky=ElCorazon&fbclid=IwAR30k6e7ySbY8Vm8Y1XlpGzcQAl36Zr2eB6t8I6G4rltfiAx0qcG6GY88G0">here</a>.</div>
</li>


<li>
	<div class="dates">
		<span>Aug 19</span>
		<span>2022</span>
	</div>
	<div class="content">Variety Pack is playing at Vessel Taphouse, Lynwood, WA, USA. 
        Tickets available <a target="_blank" href="https://www.facebook.com/events/657775402648342">here</a>.</div>
</li>
