<li class="open">
    <div class="date">Bloom (live)</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">
              <iframe width="450" height="315" src="https://www.youtube.com/embed/fNTXc8MfESA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
        </div>
    </div>
</li>

<li class="open">
    <div class="date">Demos</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">
              <iframe width="450" height="315" src="https://www.youtube.com/embed/GVTYsl2cA9E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
              <iframe width="450" height="315" src="https://www.youtube.com/embed/c4glaqYgzwc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br>
        </div>
    </div>
</li>
