<head>
    <title>Ragav Venkatesan</title>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
            <meta name="author" content="Ragav Venkatesan">
            <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
            <meta name="description" content="Venkatesan is a research scientist at AWS specializing in computer vision and machine learning." />
            <meta name="keywords" content="ragav, venkatesan, amaozn, web, services, alexa, AI, deep, learning, multiple, instance, learning, asu, computer, vision, machine, learning, raghav, arizona, state, university, baoxin, li, visual, representation, processing, david, frakes, cnn, convolutional, neural, networks, yann, toolbox" />

    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <!--CSS styles-->
    <link rel="stylesheet" href="{{ site.url }}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ site.url }}/css/font-awesome.min.css"> 
    <link rel="stylesheet" href="{{ site.url }}/css/academicons.css" /> 
    <link rel="stylesheet" href="{{ site.url }}/css/perfect-scrollbar-0.4.5.min.css">
    <link rel="stylesheet" href="{{ site.url }}/css/magnific-popup.css">
    <link rel="stylesheet" href="{{ site.url }}/css/style.css">
    <link id="theme-style" rel="stylesheet" href="{{ site.url }}/css/styles/default.css">        
    <!--/CSS styles-->
    
    <!--Javascript files-->
    <script type="text/javascript" src="{{ site.url }}/js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/TweenMax.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/modernizr.custom.63321.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/jquery.dropdownit.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/jquery.stellar.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/ScrollToPlugin.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/masonry.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/perfect-scrollbar-0.4.5.with-mousewheel.min.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/magnific-popup.js"></script>
    <script type="text/javascript" src="{{ site.url }}/js/custom.js"></script>
    <!--/Javascript files-->
</head>