<li>
    <div class="dates">
        <span>Sess 5</span>
        <span>2018</span>
    </div>
    <div class="content">
        <h4>Amazon MLU CONV: Convolutional Neural Networks.</h4>
		<p>Co-Instructor: Dr. John Dunavent</p>                                                    
    </div>
</li>

<li>
    <div class="dates">
        <span>Spring</span>
        <span>2017</span>
    </div>
    <div class="content">
        <h4>CSE 591: Introduction to Deep Learning for Visual Computing</h4>
		<p>Co-Instructor: Dr. <a target="_blank" href="http://www.public.asu.edu/~bli24/">Baoxin Li</a></p>                                                    
    </div>
</li>

<li>
    <div class="dates">
        <span>Fall</span>
        <span>2015</span>
    </div>
    <div class="content">
        <h4>CSE 509: Digital Video Processing</h4>
		<p>Co-Instructor: Dr. <a target="_blank" href="http://www.public.asu.edu/~bli24/">Baoxin Li</a></p>                                                    
    </div>
</li>
