<li>
    <div class="dates">
        <span>June</span>
        <span>2019</span>
    </div>
    <div class="content">
        <h4>IEEE Conference on Computer Vision and Pattern Recognition</h4>                                                
        <p>Domain Adaptation using Stochastic Neighborhood Embedding.</p> 
    </div>
</li>   
        
<li>
    <div class="dates">
        <span>Feb</span>
        <span>2019</span>
    </div>
    <div class="content">
        <h4>Amazon A9 Computer Vision Conference</h4>                                                
        <p>Workshop on Amazon SageMaker.</p> 
    </div>
</li>   

<li>
    <div class="dates">
        <span>Jan</span>
        <span>2019</span>
    </div>
    <div class="content">
        <h4>Seattle Machine Learning Meetup</h4>                                                
        <p>Amazon SageMaker Semantic Segmentation.</p> 
    </div>
</li>   

<li>
    <div class="dates">
        <span>July</span>
        <span>2017</span>
    </div>
    <div class="content">
        <h4>ASU International Students Graduate Orientation</h4>                                                
        <p>Professional Networking for Graduate Students.</p> 
    </div>
</li>  

<li>
    <div class="dates">
        <span>May</span>
        <span>2017</span>
    </div>
    <div class="content">
        <h4>Qualcomm</h4>                                                
        <p>Tools for measuring images.</p> 
    </div>
</li> 

<li>
    <div class="dates">
        <span>April</span>
        <span>2017</span>
    </div>
    <div class="content">
        <h4>Siemens Healthcare</h4>                                                
        <p>Tools for measuring images.</p> 
    </div>
</li> 

<li>
    <div class="dates">
        <span>Sep</span>
        <span>2016</span>
    </div>
    <div class="content">
        <h4>International Conference on Image Processing</h4>                                                
        <p>Neural Dataset Generality.</p> 
    </div>
</li> 

<li>
    <div class="dates">
        <span>Feb</span>
        <span>2014</span>
    </div>
    <div class="content">
        <h4>International Workshop on Video Processing and Quality Metrics for Consumer
            Electronics</h4>                                                
        <p>Perception-Inspired Spatio-Temporal Video Deinterlacing.</p> 
    </div>
</li> 

<li>
    <div class="dates">
        <span>Feb</span>
        <span>2013</span>
    </div>
    <div class="content">
        <h4>SPIE conference on Medical Imaging</h4>                                                
        <p>Retrieving clinically relevant diabetic retinopathy images using a multi-class multiple instance
            framework..</p> 
    </div>
</li>