<li class="open">
        <div class="date">Amazon Diwali Show 2018</div>
        <div class="circle"></div>
        <div class="data">
            <div class="subject">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL5pZw6pxfKfFJ9A-dj7ySgqcQlpuIpri3" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
            </div>
        </div>
</li>

<li class="open">
        <div class="date">AZ Samhita 2016</div>
        <div class="circle"></div>
        <div class="data">
            <div class="subject">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLxM1O96mb6lLPmjZcAA1wA_FsE-ZujBDT" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
</li>

<li class="open">
        <div class="date">Chandler Culture Center 2015</div>
        <div class="circle"></div>
        <div class="data">
            <div class="subject">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/sPudyNo8D7g" frameborder="0"  allowfullscreen></iframe>
            </div>
        </div>
</li>

<li class="open">
        <div class="date">Jhankaar 2015</div>
        <div class="circle"></div>
        <div class="data">
            <div class="subject">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/RD4VrnT5KvA?list=PLxM1O96mb6lJB-_wgY4jp-XmFG7Brmdy1" frameborder="0" ></iframe>
            </div>
        </div>
</li>

<li class="open">
        <div class="date">ASU International Night 2015</div>
        <div class="circle"></div>
        <div class="data">
            <div class="subject">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLxM1O96mb6lIejun0rqWT2zKm31r_Qusp" frameborder="0" allowfullscreen></iframe>
        </div>
        </div>
</li>

<li class="open">
        <div class="date">Chandler Culture Center 2014</div>
        <div class="circle"></div>
        <div class="data">
            <div class="subject">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLxM1O96mb6lKxhsqXZ36iU8_nSsG_5Xt7" frameborder="0" allowfullscreen></iframe>                                         
        </div>
        </div>
</li>

<li class="open">
        <div class="date">Saravedi 2014</div>
        <div class="circle"></div>
        <div class="data">
            <div class="subject">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLxM1O96mb6lLFkCSvkfIOdW1eoG2oYIS7" frameborder="0" allowfullscreen></iframe>                                                       
        </div>
        </div>
</li>

<li class="open">
        <div class="date">Jhankaar 2014</div>
        <div class="circle"></div>
        <div class="data">
            <div class="subject">
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PL5pZw6pxfKfF7HhqdnFyJHLXc77FlRNQC" frameborder="0" allowfullscreen></iframe>                                                       
        </div>
        </div>
</li>
