<li class="open">
        <div class="date">Amazon Diwali Show 2018</div>
        <div class="circle"></div>
        <div class="data">
            <div class="subject">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL5pZw6pxfKfFJ9A-dj7ySgqcQlpuIpri3" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                
            </div>
        </div>
</li>

<!-- <div class="pagecontents">
        <div class="section color-1">
            <div class="section-container">
                <div class="row">   
                <div class="col-md-8">
                   <h2>Amazon Diwali Show 2018</h2>
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=PL5pZw6pxfKfFJ9A-dj7ySgqcQlpuIpri3" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div></div></div></div></div>

<div class="pagecontents">
    <div class="section color-1">
        <div class="section-container">
            <div class="row"> 
                <div class="col-md-8">
               <h2>Az Samhita Show 2016</h2>
               <p> The recordings of our performances at AZ Samhita </p>                          
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLxM1O96mb6lLPmjZcAA1wA_FsE-ZujBDT" frameborder="0" allowfullscreen></iframe>
            </div></div></div></div></div>


<div class="pagecontents">
    <div class="section color-1">
        <div class="section-container">
            <div class="row">   
            <div class="col-md-4">
                <img src="img/personal/lkp_banner.jpg" width="200em" height="auto"><br/>
                <img src="img/personal/jhankaar_2015_1.jpg" width="200em" height="auto"><br/>
                <img src="img/personal/jhankaar_2015_2.jpg" width="200em" height="auto"><br/>
            </div>
            <div class="col-md-8">
               <h2>Jhankaar 2015</h2>
               <p> Watch our videos from Jhankaar 2015.  </p>                          
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/RD4VrnT5KvA?list=PLxM1O96mb6lJB-_wgY4jp-XmFG7Brmdy1" frameborder="0" ></iframe>
            </div>
            </div></div></div></div>

<div class="pagecontents">
    <div class="section color-1">
        <div class="section-container">
            <div class="row">   
              <div class="col-md-4">
                 <img src="img/personal/inight3.jpg" width="200em" height="auto"><br/>
                 <img src="img/personal/inight2.jpg" width="200em" height="auto"><br/>
                 <img src="img/personal/inight1.png" width="200em" height="auto"><br/>                                                          
                </div>    
                <div class="col-md-8">
                                          
               <h2>International Night 2015</h2>
               
               <p> This is a collage of videos from our intimate and personal performance at the memorial union stage. The sound is a little bad, I guess it was bad mixing.</p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLxM1O96mb6lIejun0rqWT2zKm31r_Qusp" frameborder="0" allowfullscreen></iframe>
               </div>      
               </div></div></div></div>
                                                         
            
<div class="pagecontents">
    <div class="section color-1">
        <div class="section-container">
            <div class="row">   
              <div class="col-md-6">
               <h2>Chandler Culture Center  2014</h2>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLxM1O96mb6lKxhsqXZ36iU8_nSsG_5Xt7" frameborder="0" allowfullscreen></iframe>                                         
                                           
                </div>    
                <div class="col-md-6">
                                          
               <h2>ISA Jhankaar 2014</h2>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLxM1O96mb6lLO7QGsr5SBFQCL-czT2-5U" frameborder="0" allowfullscreen></iframe>                           
               </div>      
               </div></div></div></div>
               
               
<div class="pagecontents">
    <div class="section color-1">
        <div class="section-container">
            <div class="row">   
              <div class="col-md-6">
               <h2>Saravedi 2014</h2>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLxM1O96mb6lLFkCSvkfIOdW1eoG2oYIS7" frameborder="0" allowfullscreen></iframe>                                                       
                </div>    
                <div class="col-md-6">
                                          
               <h2>Jam sessions</h2>
                <iframe width="100%" height="315" src="https://www.youtube.com/embed/videoseries?list=PLxM1O96mb6lI01JzoJdEi1psKBzDDn6g3" frameborder="0" allowfullscreen></iframe>                           </div>      
               </div></div></div></div>  
            -->
                                                                  