<li>
	<div class="dates">
		<span>April</span>
		<span>2018</span>
	</div>
	<div class="content">I wrote a chapter in the book <a href = "https://www.amazon.com/Engineering-Learning-Analytics-Knowledge-Discovery/dp/1138744387/ref=sr_1_2?ie=UTF8&qid=1529209592&sr=8-2&keywords=Feature+Engineering+for+Machine+Learning+and++Data+Analytic">
	Feature Engineering for Machine Learning and  Data Analytics</a>
	.</div>				           
</li>


<li>
		<div class="dates">
			<span>Nov</span>
			<span>2017</span>
		</div>
		<div class="content">I joined Amazon Web Services as a Research Scientist.</div>				           
	</li>

<li>
	<div class="dates">
		<span>October</span>
		<span>2017</span>
	</div>
	<div class="content">I successfully defended my dissertation.</div>				           
</li>

<li>
	<div class="dates">
		<span>October</span>
		<span>2017</span>
	</div>
	<div class="content">I will be defending my PhD Dissertation on the 25th of October.</div>				           
</li>


<li>
	<div class="dates">
		<span>August</span>
		<span>2017</span>
	</div>
	<div class="content">I made a guide for migration from theano to tensorflow. It is available <a href="https://tf-lenet.readthedocs.io">here</a>.</div>				           
</li>

<li>
 <div class="dates">
	 <span>August</span>
	 <span>2017</span>
 </div>
 <div class="content">I will be giving a talk on Professional Networking at the ASU Fall 2017 Graduate Student Orientation.</div>				           
</li>

<li>
 <div class="dates">
	 <span>July</span>
	 <span>2017</span>
 </div>
 <div class="content">I am writing a book chapter on "Image features and feature learning", to be published in late 2017.</div>				           
</li>

<li>
 <div class="dates">
	 <span>July</span>
	 <span>2017</span>
 </div>
 <div class="content">I successfully defended by PhD Proposal and passed all my comprehensive and qualifier exams.</div>				           
</li>

<li>
 <div class="dates">
	 <span>July</span>
	 <span>2017</span>
 </div>
 <div class="content">My PhD candidacy proposal defense will be on 19th July.</div>				           
</li>

<li>
 <div class="dates">
	 <span>July</span>
	 <span>2017</span>
 </div>
 <div class="content">Updated version of the incremental learning paper is out on <a href="https://arxiv.org/abs/1705.00744">arXiv</a> along 
 with <a href="https://github.com/ragavvenkatesan/Incremental-GAN">updated code.</a> The paper is now under review at Transactions 
 on Neural Networks.</div>				           
</li>

<li>
 <div class="dates">
	 <span>July</span>
	 <span>2017</span>
 </div>
 <div class="content">I will be reviewing for WACV 2018.</div>				           
</li>

<li>
 <div class="dates">
	 <span>June</span>
	 <span>2017</span>
 </div>
 <div class="content">I will be joining Amazon Web Services as a Research Scientist in November.</div>				           
</li>

<li>
 <div class="dates">
	 <span>June</span>
	 <span>2017</span>
 </div>
 <div class="content">I will be visiting Amazon, Seatte on 14th June.</div>				           
</li>

<li>
 <div class="dates">
	 <span>June</span>
	 <span>2017</span>
 </div>
 <div class="content">I am reviewing for SigGraph, 2017.</div>				           
</li>

<li>
 <div class="dates">
	 <span>May</span>
	 <span>2017</span>
 </div>
 <div class="content">I have a paper, co-authored with Parag Chandakkar on Multi-Instance retieval accepted in SPIE Journal of Medical Imaging.</div>				           
</li>

<li>
 <div class="dates">
	 <span>May</span>
	 <span>2017</span>
 </div>
 <div class="content">I will be visiting NVIDIA, Santa Clara on 6th June.</div>				           
</li>


<li>
 <div class="dates">
	 <span>May</span>
	 <span>2017</span>
 </div>
 <div class="content"><a href="https://arxiv.org/abs/1705.00744">arXiv paper</a> titled "A Strategy for an Uncompromising Incremental Learner" 
 published along with <a href="https://github.com/ragavvenkatesan/Incremental-GAN">source code</a>.</div>				           
</li>

<li>
 <div class="dates">
	 <span>Apr</span>
	 <span>2017</span>
 </div>
 <div class="content">I will be visiting Qualcomm, San-Diego on 9th May.</div>				           
</li>

<li>
 <div class="dates">
	 <span>Apr</span>
	 <span>2017</span>
 </div>
 <div class="content">I will be visiting Siemens Healthcare, Princeton on 5th May.</div>				           
</li>

<li>
 <div class="dates">
	 <span>Mar</span>
	 <span>2017</span>
 </div>
 <div class="content">I will be attending the 50th year ceremony of ACM Turing Awards coutersy
	 	SIGMM scholarship.</div>				           
</li>

<li>
 <div class="dates">
	 <span>Mar</span>
	 <span>2017</span>
 </div>
 <div class="content">I will be vising Facebook Seattle and the Facebook ML seminar during the 
	 first week of April.</div>				           
</li>

<li>
 <div class="dates">
	 <span>Jan</span>
	 <span>2017</span>
 </div>
 <div class="content">I'm instructing the newly created course CSE591: Introduction to deep Learning
	 for visual computing</div>				           
</li>
<li>
 <div class="dates">
	 <span>Nov</span>
	 <span>2016</span>
 </div>
 <div class="content">I'm reviewing for ISBI and WACV 2017.</div>				           
</li>
<li>
 <div class="dates">
	 <span>Oct</span>
	 <span>2016</span>
 </div>
 <div class="content">I was volunteering with ICIP 2016 Organizing Committee.</div>				           
</li>
<li>
 <div class="dates">
	 <span>Aug</span>
	 <span>2016</span>
 </div>
 <div class="content">For the second time, I will be the teaching assistant for CSE 569.</div>				           
</li>

<li>
 <div class="dates">
	 <span>May</span>
	 <span>2016</span>
 </div>
 <div class="content">I have an oral paper accepted to to <a href="{{ site.url }}/publications/2016/icip_16.pdf">ICIP 2016</a>. I released its <a href="https://github.com/ragavvenkatesan/generality">source code</a> earlier. I also have a longer version of the paper at <a href = "http://arxiv.org/abs/1605.04369">arXiv</a>.</div>				           
</li>

<li>
 <div class="dates">
	 <span>April</span>
	 <span>2016</span>
 </div>
 <div class="content"><a href="http://arxiv.org/abs/1604.08220">arXiv paper</a> titled "Diving deeper into mentee networks." published along with <a href="https://github.com/ragavvenkatesan/regularizer-network">source code</a>.</div>				           
</li>

<li>
 <div class="dates">
	 <span>Dec</span>
	 <span>2015</span>
 </div>
 <div class="content">Official release of the multi-purpose theano-based <a href="https://github.com/ragavvenkatesan/Convolutional-Neural-Networks">Samosa Toolbox</a> for building various types of CNNs.</div>				           
</li>

<li>
 <div class="dates">
	 <span>Sep</span>
	 <span>2015</span>
 </div>
 <div class="content">I am reviewing for <a href="http://www.wacv16.org/people/">WACV 2016.</a></div>				           
</li>

<li>
 <div class="dates">
	 <span>Sep</span>
	 <span>2015</span>
 </div>
 <div class="content">I have a paper accepted in <a href="{{ site.url }}/publications/2015/iccv_15.pdf">ICCV 2015.</a></div>				           
</li>

<li>
 <div class="dates">
	 <span>Aug</span>
	 <span>2015</span>
 </div>
 <div class="content">For the third time, I am a teaching assistant for Digital Video Processing.</div>				           
</li>

<li>
 <div class="dates">
	 <span>Feb</span>
	 <span>2015</span>
 </div>
 <div class="content">I have a <a target ="_blank" href="{{ site.url }}/publications/2015/jei_15.pdf">paper</a> accepted in <a target="_blank" href="http://spie.org/x868.xml">SPIE Journal of Electronic Imaging</a>.</div>				           
</li>

<li>
 <div class="dates">
	 <span>Jan</span>
	 <span>2015</span>
 </div>
 <div class="content">I am now the teaching assistant for Statistical Maching Learning.</div>				           
</li>
            
<li>
 <div class="dates">
	 <span>Nov</span>
	 <span>2014</span>
 </div>
 <div class="content">I have a paper accepted in <a href="{{ site.url }}/publications/2014/isvc_14.pdf">ISVC 2014</a>.</div>				           
</li>
<li>
 <div class="dates">
	 <span>Oct</span>
	 <span>2014</span>
 </div>
 <div class="content">I was invited to review for <a target ="_blank" href="http://wacv2015.org/people/">WACV 2015</a>.</div>				           
</li>
<li>
 <div class="dates">
	 <span>Aug</span>
	 <span>2014</span>
 </div>
 <div class="content">I accepted the position of teaching assistant for the graduate level course Fundamentals of Statistical Learning.</div>				           
</li>
<li>
 <div class="dates">
	 <span>April</span>
	 <span>2014</span>
 </div>
 <div class="content">I was with Intel<sup>&reg</sup> Corp. for the Spring and the Summer of 2014.</div>				           
</li>

<li>
 <div class="dates">
	 <span>Dec</span>
	 <span>2013</span>
 </div>
 <div class="content">I had an oral paper accepted in <a href="{{ site.url }}/publications/2014/vpqm_14.pdf">VPQM 2014</a>. I gave the <a target="_blank" href="{{ site.url }}/publications/2014/vpqm_14_ppt.pdf">talk</a> on Jan 31, 2014.</div>				           
</li>

<li>
 <div class="dates">
	 <span>Sep</span>
	 <span>2013</span>
 </div>
 <div class="content">I accepted the position of reviewer for <a target="_blank" href="http://spie.org/x868.xml">SPIE Journal of Electronic Imaging</a>. </div>				           
</li>

<li>
 <div class="dates">
	 <span>Sep</span>
	 <span>2013</span>
 </div>
 <div class="content">I am now a reviewer for IEEE Transactions of Circuits and Systems for Video Technology. </div>				           
</li>

<li>
 <div class="dates">
	 <span>Aug</span>
	 <span>2013</span>
 </div>
 <div class="content">For the second time in a row, I accepted the position of Teaching Assistant for the course Digital Video Processing </div>				           
</li>
<li>
 <div class="dates">
	 <span>Feb</span>
	 <span>2013</span>
 </div>
 <div class="content">I gave a <a target="_blank" href="{{ site.url }}/publications/2013/spie_13_ppt.pdf">talk</a> at the SPIE conference on Medical Imaging at Florida.</div>				           
</li>																 															

<li>
 <div class="dates">
	 <span>Dec</span>
	 <span>2012</span>
 </div>
 <div class="content">I had a <a target="_blank" href="{{ site.url }}/publications/2012/jei_12.pdf">paper</a> co-authored at SPIE Journal of Electronic Imaging.</div>				           
</li>

<li>
 <div class="dates">
	 <span>Dec</span>
	 <span>2012</span>
 </div>
 <div class="content">I had a <a target="_blank" href="{{ site.url }}/publications/2013/spie_13.pdf">paper</a> accepted at SPIE conference on Medical Imaging.</div>				           
</li>

<li>
 <div class="dates">
	 <span>Dec</span>
	 <span>2012</span>
 </div>
 <div class="content">I took the graduation walk for my MS in Electrical Engineering</div>				           
</li>

<li>
 <div class="dates">
	 <span>Oct</span>
	 <span>2012</span>
 </div>
 <div class="content"> My article on <a target="_blank" href="http://www.thehindu.com/features/education/issues/academic-dishonesty/article4021902.ece">Academic Integrity</a> got published in the The Hindu.</div>				           
</li>

<li>
 <div class="dates">
	 <span>Aug</span>
	 <span>2012</span>
 </div>
 <div class="content"> I accepted the teaching assistant position for the graduate level course Digital Video Processing for Fall 2012.</div>				           
</li>

<li>
 <div class="dates">
	 <span>Aug</span>
	 <span>2012</span>
 </div>
 <div class="content">I had a <a target="_blank" href="{{ site.url }}/publications/2012/bcb_12.pdf">paper</a> accepted at ACM conference on Bio-Informatics, computational biology and bio-medicine.</div>			           
</li>

<li>
 <div class="dates">
	 <span>Jul</span>
	 <span>2012</span>
 </div>
 <div class="content">I defended my Master's Thesis Successfully.</div>			           
</li>

<li>
 <div class="dates">
	 <span>Jun</span>
	 <span>2012</span>
 </div>
 <div class="content">I had a <a target="_blank" href="{{ site.url }}/publications/2012/embc_12.pdf">paper</a> accepted at IEEE conference on Engineering in Medicing and Biology.</div>			           
</li>

<li>
 <div class="dates">
	 <span>Jun</span>
	 <span>2012</span>
 </div>
 <div class="content">I started working at the  <a target="_blank" href="http://www.public.asu.edu/~bli24/Research.html">Visual Representation and Processing Group</a>.</div>			           
</li>

<li>
 <div class="dates">
	 <span>Mar</span>
	 <span>2012</span>
 </div>
 <div class="content">My first <a target="_blank" href="{{ site.url }}/publications/2012/icip_12.pdf">paper</a> got accepted at IEEE International Conference on Image Processing.</div>			           
</li>

<li>
 <div class="dates">
	 <span>Jan</span>
	 <span>2011</span>
 </div>
 <div class="content">I started working at the <a target="_blank" href="{{ site.url }}/http://ipalab.fulton.asu.edu/">IPAlab</a> at ASU.</div>			           
</li>

<li>
 <div class="dates">
	 <span>Aug</span>
	 <span>2010</span>
 </div>
 <div class="content">I started my Masters in Signal Processing and Communication Engineering at ASU. </div>			           
</li>