<li class="open">
    <div class="date">2024-Present</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">Maxine NVIDIA Inference Microservices (NIMs).</div>
        <div class="text row">
            <div class="col-md-10">
                <ul>
                    <li>Eye-Contact.</li>
                </ul>
            </div>
        </div>
    </div>
</li>

<li class="open">
    <div class="date">2022-Present</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">NVIDIA AI Foundations and NVIDIA Cloud Functions.</div>
        <div class="text row">
            <div class="col-md-10">
                <ul>
                    <li>Live-portrait.</li>
                    <li>Live-Portrait + Voice Font.</li>
                </ul>
            </div>
        </div>
    </div>
</li>

<li class="open">
    <div class="date">2022-Present</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">Generative AI Models</div>
        <div class="text row">
            <div class="col-md-10">
                <ul>
                    <li>Eye-contact.</li>
                    <li>Live-portrait.</li>
                    <li>Speech-Live Portrait.</li>
                </ul>
            </div>
        </div>
    </div>
</li>

<li class="open">
    <div class="date">2022-2023</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">MLops</div>
        <div class="text row">
            <div class="col-md-10">
                <p>Architecting systems for and migrating computer vision workloads to
                    <a
                        href="https://blogs.nvidia.com/blog/2018/09/13/how-maglev-speeds-autonomous-vehicles-to-superhuman-levels-of-safety/">Maglev</a>
                    MLops and ML workflow platform for various computer-vision teams.
                </p>
            </div>
        </div>
    </div>
</li>

<li class="open">
    <div class="date">2022</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">Video-Enhancement Features</div>
        <div class="text row">
            <div class="col-md-10">
                <ul>
                    <li>Webcam-denoising.</li>
                    <li>Artifact-management.</li>
                </ul>
            </div>
        </div>
    </div>
</li>