<li>
    <div class="dates">
        <span></span>
        <span>2019</span>
    </div>
    <div class="content">
        <h4>Reviewer</h4>                                                
        <p>IEEE conference on computer vision and pattern recognition</p> 
    </div>
    </li>   

<li>
<div class="dates">
    <span></span>
    <span>2019</span>
</div>
<div class="content">
    <h4>Reviewer</h4>                                                
    <p>IEEE Winter conference on applications of computer vision</p> 
</div>
</li>   

<li>
<div class="dates">
    <span></span>
    <span>2019</span>
</div>
<div class="content">
    <h4>Reviewer</h4>                                                
    <p>IEEE Transactions of Neural Networks and Learning Systems</p> 
</div>
</li>   

<li>
    <div class="dates">
        <span></span>
        <span>2018</span>
    </div>
    <div class="content">
        <h4>Reviewer</h4>                                                
        <p>IEEE Winter conference on applications of computer vision</p> 
    </div>
</li>   

<li>
    <div class="dates">
        <span></span>
        <span>2017</span>
    </div>
    <div class="content">
        <h4>Reviewer</h4>                                                
        <p>International Joint Conference on Artificial Intelligence (External)</p> 
    </div>
</li>   

<li>
    <div class="dates">
        <span></span>
        <span>2017</span>
    </div>
    <div class="content">
        <h4>Reviewer</h4>                                                
        <p>ACM SIGGRAPH, Asia</p> 
    </div>
</li>  

<li>
    <div class="dates">
        <span></span>
        <span>2017</span>
    </div>
    <div class="content">
        <h4>Reviewer</h4>                                                
        <p>IEEE Winter conference on applications of computer vision</p> 
    </div>
</li>   
<li>
    <div class="dates">
        <span></span>
        <span>2017</span>
    </div>
    <div class="content">
        <h4>Reviewer</h4>                                                
        <p>IEEE International Symposium on Biomedical Imaging</p> 
    </div>
</li>            
<li>
    <div class="dates">
        <span></span>
        <span>2016</span>
    </div>
    <div class="content">
        <h4>Student Volunteer</h4>                                                
        <p>IEEE International Conference on Image Processing</p> 
    </div>
</li>                                                                          
<li>
    <div class="dates">
        <span></span>
        <span>2016</span>
    </div>
    <div class="content">
        <h4>Reviewer</h4>                                                
        <p>IEEE Winter conference on applications of computer vision</p> 
    </div>
</li>      
<li>
    <div class="dates">
        <span></span>
        <span>2015</span>
    </div>
    <div class="content">
        <h4>Reviewer</h4>                                                
        <p>ASU Centennial Professorship Award.</p> 
    </div>
</li>                                        
<li>
    <div class="dates">
        <span></span>
        <span>2015</span>
    </div>
    <div class="content">
        <h4>Reviewer</h4>                                                
        <p>IEEE Winter conference on applications of computer vision.</p> 
    </div>
</li>
<li>
    <div class="dates">
        <span>2017</span>
        <span>2013</span>
    </div>
    <div class="content">
        <h4>Reviewer</h4>                                                
        <p>SPIE Journal of Electronic Imaging</p> 
    </div>
</li>
<li>
    <div class="dates">
        <span>2016</span>
        <span>2013</span>
    </div>
    <div class="content">
        <h4>Reviewer</h4>
        <p>IEEE Transactions of Circuits and Systems for Video Technology.</p>
    </div>
</li>   
<li>
    <div class="dates">
        <span></span>
        <span>2011</span>
    </div>
    <div class="content">
        <h4>Student Volunteer</h4>                                                
        <p>ACM International Conference on Multimdia.</p> 
    </div>
</li>                                        
