<li class="open">
    <div class="date">Dilse + Bille Jean</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">
            <iframe width="450" height="315" src="https://www.youtube.com/embed/KB8Eg97ocmM" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</li>

<li class="open">
    <div class="date">Te Imaginé</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">
            <iframe width="450" height="315" src="https://www.youtube.com/embed/Mt2ao8k5dbw" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</li>

<li class="open">
    <div class="date">Yesterday</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">
            <iframe width="450" height="315" src="https://www.youtube.com/embed/hpGeANkZZH0" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</li>

<li class="open">
    <div class="date">Shambo</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">
            <iframe width="450" height="315" src="https://www.youtube.com/embed/m8zXoBUiZGU" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
    </div>
</li>


<li class="open">
    <div class="date">Discography</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">
            <iframe width="100%" height="700" scrolling="no" frameborder="no"
                src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F11850516&amp;color=990033&amp;auto_play=false&amp;show_artwork=true"
                style="background:#E0E0E0"></iframe>
        </div>
    </div>
</li>