<li class="open">
    <div class="date">Stone</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">
            <iframe width="450" height="315" src="https://www.youtube.com/embed/T1Xpisn75xc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            
        </div>
    </div>
</li>

<li class="open">
    <div class="date">Brother</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">
            <iframe width="450" height="315" src="https://www.youtube.com/embed/eJrggM5fF5s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            
        </div>
    </div>
</li>

<li class="open">
    <div class="date">Down in a hole</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">
            <iframe width="450" height="315" src="https://www.youtube.com/embed/s2sPq24I9AY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            
        </div>
    </div>
</li>

<li class="open">
    <div class="date">Angry Chair</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">
            <iframe width="450" height="315" src="https://www.youtube.com/embed/3h0EkJdNusg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>            
        </div>
    </div>
</li>

<li class="open">
    <div class="date">Discography</div>
    <div class="circle"></div>
    <div class="data">
        <div class="subject">
            <iframe width="100%" height="700" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists/1059625510&amp;color=990033&amp;auto_play=false&amp;show_artwork=true" style="background:#E0E0E0"></iframe>
        </div>
    </div>
</li>