---
layout: default
---

<div id="gallery" class="page">
    <div class="pagecontents">

        <div class="section pageheader" id="gallery-header">
            <div class="section-container">
                <div class="row">                    
                    <div class="col-md-5">
                        <img src="{{ site.url }}/img/personal/blog_img.jpg" width="250em" height="auto">
                    </div>
                        <div class="col-md-7">
                            <h1 class="title">Being Betaware</h1>
                        </div>
                            <p> Betaware is a software that is fully produced and working but is expected to have
                                   loads of bugs and undergo many modifications. I feel like I am a betaware now. 
                                   I feel that I have a grasp of what the world is. I feel that I have found my 
                                   purpose in life – to teach! But I am not sure if I am bug free yet. Ergo, 
                                   the name 'being betaware'. </p>                                                                 
                                     
                              <p>Caveat: This is a personal part of my website and I am not going to censor myself here, if you are here to read my 
                            	 technical stuff or just check out my pofile, you shouldn't judge me based off of this. Also, somethings here are 
                                 hypothetical and some are true, and I won't say which is which. Being betaware was an old blog that was written 
                                 when blogs were a still a means of broadcast communication. I haven't edited them since on purpose.</p>

                    </div>
                </div>
            </div>



            <div class="pagecontents">
                <div class="section color-1">
                    <div class="section-container">
                        <div class="row">

                           {% for post in site.posts %}
                             {% if post.category contains 'beingbetaware' %}
                              <article class="{% if forloop.first %}first{% elsif forloop.last %}last{% else %}middle{% endif %}">
                            		<div class="article-head">
                            			<h2 class="title"><a href="{{ site.url }}/{{ post.permalink }}">{{ post.title }}</a></h2>

                            		</div><!--/.article-head-->
                            		<div class="article-content">
                            		{{ post.description }}
                            		<a href="{{ site.url }}/{{ post.permalink }}">Read more</a>	
                            		</div><!--/.article-content-->
                            	</article>
                            	{% if forloop.last %}{% else %}<div class="separater"></div>{% endif %}
                              {% endif %}      
                            {% endfor %}

                        </div></div></div></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
